{   
    "parser":"babel-eslint",
    "extends": ["airbnb"],
    "env":{
        "browser":true,
        "node":true
    },
    "rules":{
        "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
        "comma-dangle": ["error", "never"],
        "quotes": [0, "single"],
        "semi":[0, "always"],
        "react/destructuring-assignment":[1],
        "react/prop-types": [0],
        "import/prefer-default-export":[0],
        "react/prefer-stateless-function":[1],
        "no-unused-vars":[1],
        "camelcase": [0],
        "arrow-parens":[0],
        "global-require":[0],
        "import/no-extraneous-dependencies":[0]
    }
}