{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "settings": {
    "react":{
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "no-console": "warn",
    "comma-dangle": ["error", "never"],
    "no-unused-vars": [
      "warn",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "import/prefer-default-export": 0,
    "no-useless-constructor": ["warn"],
    "no-trailing-spaces": 0,
    "class-methods-use-this": 0,
    "react/prop-types": 0,
    "arrow-parens": 0,
    "no-restricted-globals": 0,
    "padded-blocks": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-restricted-syntax": ["warn"],
    "import/no-unresolved": 0,
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-inferrable-types": 0,
    "import/extensions": ["error", "ignorePackages", {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "mjs": "never"
      }],
    "@typescript-eslint/camelcase": 0,
    "implicit-arrow-linebreak": 0,
    "jest/no-disabled-tests": 0
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/all"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true 
  }
}
