
$path: 'base/fonts';

@font-face {
  font-family: 'icomoon';
  src:  url($path + '/icomoon.eot?3krjav');
  src:  url($path + '/icomoon.eot?3krjav#iefix') format('embedded-opentype'),
    url($path + '/icomoon.ttf?3krjav') format('truetype'),
    url($path + '/icomoon.woff?3krjav') format('woff'),
    url($path + '/icomoon.svg?3krjav#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}