.list{
  .title{
    margin: 0px 20px;
  }
  .episodes{
    margin:0px;
    padding: 0px;
    .episode{
      list-style-type: none;
      background-color: $light-blue;
      color: white;
      margin: 10px 0px;
      padding:20px;
      width: 600px;
      cursor:pointer;
      border-radius: 10px;
      box-shadow: 2px 2px 3px 3px blue;
      // color: white;
      &:hover{
        transform: translateX(20px);
      }
      .btn-link{
        margin:10px;
      }
    }
  }
}
