.header{
  background: #3737d8;
  padding: 15px;
  border-radius: 10px;;
  
  .items{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
    li{
      
      // background-color: blue;;
      margin: 10px;
    }
  }
}