.header{
  background: #3737d8;
  padding: 15px;
  border-radius: 10px;;
  
  .items{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
    li{
      
      // background-color: blue;;
      margin: 10px;
      
      .link{
        color: white;
        text-decoration: none;
        // color: black;
        padding: 10px;
        background: rgba(70, 91, 167, 0.79);
        border-radius: 5px;
        &:hover{
          
          background-color: rgba(14, 39, 129, 0.79);
        }
      }

    }
  }
}